.admin-slots-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
  background: #f1f1f1;
}

.admin-slots-container header {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 3px;
  background: #3939f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
}

.admin-slots-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
  color: #f1f1f1;
}

.admin-slots-container h1 {
  margin-top: 50px;
  margin-bottom: 24px;
}

.admin-slots-container ul {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.admin-slots-container ul li {
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.admin-slots-container ul li strong {
  display: block;
  margin-bottom: 5px;
  color: #41414d;
}

.admin-slots-container ul li p + strong {
  margin-top: 10px;
}

.admin-slots-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}