.new-booking-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.new-booking-container header {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 3px;
  background: #010103;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 25px;
}

.new-booking-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.new-booking-container header img {
  height: 80px;
}

.new-booking-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.new-booking-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-booking-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-booking-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}

.new-booking-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.new-booking-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-booking-container .content form input {
  margin-top: 8px;
}

.new-booking-container .content form ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  list-style: none;
  margin-top: 10px;
}

.new-booking-container .content form ul button {
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #e8ff66 5%, #f0ff24 100%);
	background-color:#e8ff66;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.new-booking-container form ul button:hover {
  background:linear-gradient(to bottom, #f0ff24 5%, #e8ff66 100%);
	background-color:#f0ff24;
}

.new-booking-container form ul button:focus {
  background:#ffd724;
}

.new-booking-container form ul button:active {
  position:relative;
	top:1px;
}

.new-booking-container form button:disabled {
  background: rgb(190, 190, 190);
  color: #f0f0f5;
  cursor: not-allowed;
}

.new-booking-container form input:disabled {
  cursor: not-allowed;
}