.admin-home-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 60px minmax(830px, auto) 50px;
  grid-template-areas: "header header" "menu main" "footer footer";
  background-color: blueviolet;
}

.admin-home-container header {
  grid-area: header;
  
  background: rgb(146, 165, 250);
  display: flex;
  align-items: center;
}

.admin-home-container header img {
  height: 60px;
  width: 200px;
  margin-left: 45px;
}

.admin-home-container header p {
  color: #f6f7f2;
  margin-left: 1300px;
}

.admin-home-container header a {
  margin-left: 25px;
}

.admin-home-container menu {
  background: rgb(47, 90, 170);
  grid-area: menu;
  
  display: flex;
  flex-direction: column;
}

.admin-home-container a {
  font-size: 24px;
  color: #f6f7f2;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
  text-align: center;
  padding: 10px;
}

.admin-home-container a:hover {
  opacity: 0.5;
}

.admin-home-container menu .general-links {
  display: flex;
  flex-direction: column;
  background: rgb(0, 56, 160);
}

.admin-home-container menu .users-links {
  display: flex;
  flex-direction: column;
  background: rgb(89, 132, 212);
}

.admin-home-container menu .slots-links {
  display: flex;
  flex-direction: column;
  background: rgb(28, 73, 155);
}

.admin-home-container menu .menu-items-links {
  display: flex;
  flex-direction: column;
  background: rgb(89, 132, 212);
}

.admin-home-container menu .bookings-links {
  display: flex;
  flex-direction: column;
  background: rgb(28, 73, 155);
}

.admin-home-container main {
  background: rgb(226, 226, 250);
  grid-area: main;

  display: flex;
  flex-direction: column;
}

.admin-home-container footer {
  background: rgb(146, 165, 250);
  grid-area: footer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-home-container footer p {
  color: #FFF
}

.admin-home-container .footer-links {
  font-size: 16px;
}


